h1 {
    color: white;
    font-family: CourierNew, monospace;
    text-align: center;
}
h2 {
     color: #1DB954;
     font-family: CourierNew, monospace;
     text-align: center;
}
body {
    background-color: Black;
    text-align: center;
}
div {
    color: white;
}
nav {
    font-color: red;
}




