h1 {
    color: white;
    font-family: CourierNew, monospace;
    text-align: center;
}
h2 {
     color: #1DB954;
     font-family: CourierNew, monospace;
     text-align: center;
}
body {
    background-color: Black;
    text-align: center;
}
div {
    color: white;
}
nav {
    font-color: red;
}
th{
    color: black;
    font-family: monospace;
    padding: 15px 15px 15px 15px;
    text-align: left;
    background-color: darkseagreen;
}
td{
    color: black;
    font-family: monospace;
    padding: 15px 15px 15px 15px;
    text-align: left;
    background-color: silver;
}
a{
    font-family:monospace;
    font-size: 20px;
    padding: 15px 15px 15px 15px;
}




