h1 {
    color: white;
    font-family: CourierNew, monospace;
    text-align: center;
}
h2 {
     color: #1DB954;
     font-family: CourierNew, monospace;
     text-align: center;
}
body {
    background-color: Black;
    text-align: center;
    color:white;

}
div {
    color: white;
}
nav {
    font-color: red;
}
th{
    color: black;
    font-family: monospace;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    text-align: left;
    background-color: #1DB954;
    border-radius: 10px;
}
td{
    color: black;
    font-family: monospace;
    padding: 15px 15px 15px 15px;
    border-radius:10px;
    text-align: left;
    background-color: silver;
}
a{
    font-family:monospace;
    font-size: 20px;
    padding: 15px 15px 15px 15px;
}
label{
    font-family:monospace;
    font-size: 20px;
    padding: 15px 15px 15px 15px;
}
.alert{
    font-size: 25px;
    color: chartreuse;
    font-family: monospace;
}
button{
    background-color: darkseagreen;
    border-radius: 9px;
}


