<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bromine.css') }}"/>
    <title>Main</title>

</head>
<body>
<img src="{{ url_for('static', filename='images/dance.jpg')}}" style="width:15%;height:15%;"/>
<h1>Welcome to line dancing with Spotify</h1>
<hr style="width:50%;">
    <div class="content">
        {% block content %}
            <h2>{% block title %} Search by Dance {% endblock %}</h2>

            <form method="POST">
                    <select name="dances">
                        {% for step in steps%}

                        <option value="{{step['step_id']}}">{{ step['step_name'] }}</option>

                        {% endfor %}
                    </select>
                <input type="submit" value="GO"/>
            </form>

            {% for song in songs %}
                <div class='song'>
                    <p>{{ song['song_id'] }}</p>
                    <h3>{{ song['title'] }}</h3>
                    <p>{{ song['artist'] }}</p>
                </div>
            {% endfor %}

        {% endblock %}
    </div>
    <nav>
        <a href="{{ url_for('playlist') }}">Make a Playlist</a>
    </nav>
</body>
</html>