<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bromine.css') }}"/>
    <title>Playlist</title>



    <meta charset="UTF-8">
    <title> Playlist </title>
    <style>
        body {
            background-color: black;
        }
        nav {
            font-color: red;
        }
        h1 {
            color: blue;
        }
    </style>
</head>

<body>
<h2>TR elements define table rows</h2>

<table style="width:100%">
  <tr>
    <td>Emil</td>
  </tr>
  <tr>
    <td>16</td>
  </tr>
  <tr>
    <td>Emil</td>
  </tr>
  <tr>
    <td>16</td>
  </tr>
  <tr>
    <td>16</td>
  </tr>
</table>

This is a Playlist making page
<a href="http://127.0.0.1:5000/"><img src="http://www.clker.com/cliparts/H/S/q/A/l/E/home-button-png-md.png"
                                      alt="home button" style="width:142px;height:42px;"></a>
</body>
</html>